@{
    ViewBag.Title = "账号激活";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnsend').click(function () {
            var email = $('#email').val().trim();
            if (email == "") {
                $('#emailerror').text("请填写邮箱");
                $('#emailerror').show();
                return false;
            } else {
                var reg = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!reg.test(email)) {
                    $('#emailerror').text("邮箱格式错误");
                    $('#emailerror').show();
                    return false;
                } else {
                    $('#emailerror').hide();
                }
            }
        });
    });
</script>

@using (Html.BeginForm("ForgetPasswordNext", "Account", null, FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
    <div class="form-horizontal panel-body">
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-10">
                @Html.TextBox("email", null, new { @class = "form-control-static", placeholder = "邮箱", style = "padding:3px" })
                <span style="color: Red">*</span>&nbsp;<span id="emailerror" class="validateCSS"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-10">
                <button id="btnsend" name="btnsend" type="submit" class="btn btn-primary">发送邮件</button>
            </div>
        </div>
    </div>
}