<div class="register-right">
    <div class='kangkang'>
        <div class='head'>
            <div class='head1'></div>
            <div class='shadow'></div>
            <div class='hair'></div>
            <div class='face'>
                <div class='yellow'></div>
                <div class='green'></div>
                <div class='eyes red'>
                    <div class='nose1'></div>
                    <div class='nose2'></div>
                    <div class="left-eye">
                        <div class="eye"></div>
                    </div>
                    <div class='right-eye'>
                        <div class="eye"></div>
                    </div>
                </div>
                <div class='mouth'>
                    <svg id="mouth" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 237.36 176">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                    stroke: #231815;
                                    stroke-miterlimit: 10;
                                    stroke-width: 25px;
                                }
                            </style>
                        </defs>
                        <title>mouth</title>
                        <line class="cls-1" x1="118.84" y1="163.5" x2="118.84" />
                        <path class="cls-1" d="M285.64,370c0,48,75.53,59.5,106.42,59.5,27.46,0,107.34-13,105.92-56.89" transform="translate(-273.14 -266)" />
                    </svg>
                </div>
            </div>
            <div class='left-ear'></div>
            <div class='right-ear'></div>
            <div class='left-ball '>
                <a href='#' class='hvr-wobble-vertical'></a>
            </div>
            <div class='right-ball'></div>
        </div>
    </div>
</div>

